<nav>
  <h3>メニュータイトル</h3>
  <ul class="submenu">
    <li><a href="../"><%= title %></a></li>
    <li>
      <a href="/info"><%= title2 %></a>
      <ul>
        <li><a href="info#link1">当院について</a></li>
        <li><a href="info#link2">初診の方へ</a></li>
        <li><a href="info#link3">院長挨拶</a></li>
      </ul>
    </li>
    <li>
      <a href="/service"><%= title3 %></a>
      <ul>
        <li><a href="/service2/1">一般内科</a></li>
        <li><a href="/service2/2">小児科</a></li>
        <li><a href="/service2/3">皮膚科</a></li>
      </ul>
    </li>
    <li><a href="/staff"><%= title4 %></a></li>
    <li><a href="/faq"><%= title5 %></a></li>
    <li><a href="/access"><%= title6 %></a></li>
    <li><a href="/recruit"><%= title7 %></a></li>
    <li><a href="/contact"><%= title8 %></a></li>
  </ul>
</nav>
